services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile 
    ports:
      - "60086:80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 10s
      retries: 5
