services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "60094:80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 10s
      retries: 5  
