services:
  lfi_static_resource:
    build:
      context: ./app
      args:
        - FLAG
    ports:
      - "60019:80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/"]
      timeout: 1s
      retries: 5
      interval: 10s