services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "60091:80"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 10s
      retries: 5  
